name: Test

on:
  push:
    branches:
      - main
      - master
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test-linux:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"
          enable-cache: false
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: x86_64
          args: --release --out dist
          sccache: false
          manylinux: auto
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-test-linux-x86_64
          path: dist
      - name: pytest
        shell: bash
        run: |
          set -e
          uv sync --extra dev --find-links dist --reinstall
          uv run pytest

  test-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          architecture: x64
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"
          enable-cache: false
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: x64
          args: --release --out dist -i python3.12
          sccache: false
      - name: pytest
        shell: bash
        run: |
          set -e
          uv sync --extra dev --find-links dist --reinstall
          uv run pytest

  test-macos:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"
          enable-cache: false
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: aarch64
          args: --release --out dist
          sccache: false
      - name: pytest
        run: |
          set -e
          uv sync --extra dev --find-links dist --reinstall
          uv run pytest

  benchmark:
    runs-on: ubuntu-latest
    needs: [test-linux]
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"
          enable-cache: false
      - name: Download wheels
        uses: actions/download-artifact@v4
        with:
          name: wheels-test-linux-x86_64
          path: ./wheels
      - name: Install dependencies
        run: uv sync --package benchmark --find-links ./wheels --reinstall
      - name: Start Uvicorn server
        run: |
          uv run --package benchmark uvicorn benchmark.server:app --host 0.0.0.0 --port 8000 &
          sleep 10
      - name: Run benchmark
        run: uv run --package benchmark python benchmark/benchmark.py
